<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<main>
  <h1>Account Management</h1>

  <% if (messages && messages.length) { %>
    <div class="flash-messages">
      <% messages.forEach(function(message) { %>
        <p><%= message %></p>
      <% }); %>
    </div>
  <% } %>

  <% if (errors && errors.length) { %>
    <div class="error-messages">
      <% errors.forEach(function(error) { %>
        <p><%= error %></p>
      <% }); %>
    </div>
  <% } %>

  <p>You're logged in.</p>
</main>

<%- include('../partials/footer') %>
