<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head") %>

<body>
  <div id="wrapper">
    <%- include("../partials/header") %>
    <%- include("../partials/navigation") %>
    <main>
      <% if (success_msg) { %>
        <div class="flash success"><%= success_msg %></div>
      <% } %>
      
      <% if (error_msg) { %>
        <div class="flash error"><%= error_msg %></div>
      <% } %>
      
      <% if (error) { %>
        <div class="flash error"><%= error %></div>
      <% } %>
      
      <%- include("../partials/index") %>  
    <%- body %>
    </main>
        <%- include ("../partials/footer") %>
        </div>
    </body>
</html>