<%- include('../partials/header') %>
<%- include('../partials/navigation', { nav: nav }) %>

<main>
  <h1><%= title %></h1>
  <%- detail %> <!-- Injected vehicle HTML -->
</main>

<%- include('../partials/footer') %>
