<%- include("../partials/header") %>
<%- include("../partials/navigation", { nav: nav }) %>

<main>
  <h1><%= title %></h1>
  <h2>Status Code: <%= status || 500 %></h2>
  <p><%= message %></p>
</main>

<%- include("../partials/footer") %>
